.continue-btn, .back-btn {
  background-color: var(--primary);
    color: white;
    font-size: 16px;
    width: 100%;
    height: 52px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s ease;

}

.back-btn {
  margin-top: 24px;
  background-color: var(--button-secondary);
  color: var(--text-muted);
}

.back-btn:hover {
  background: #d3d3d3;
}

.continue-btn:hover {
  background: #01784a;
}