.action-btns {
  margin-top: 64px;
}

.cards {
    border: 1px solid #E0E0E0;
    border-radius: 16px;
    background-color: white;
    width: 100%;
    padding: 36px;
    cursor: pointer;
    transition: border 0.5s ease;
}

.cards:hover {
  border: 1px solid var(--primary)
}

.cards-section{
  margin-top: 48px;
}

.cards-section img {
    width: 50px;
    height: 51px;
    margin-bottom: 24px;
}

.cards-section h2 {
    color: black;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 8px;
}

.cards-section p {
    color: #575757;
    font-size: 16px;
}

.card-wrapper {
    display: flex;
    gap: 20px;
}

.last-cards-section {
    margin-top: 20px;
}

.analysis-card {
  width: 100%;
  padding: 45px 64px;
  background: #ffffff;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.05);
}

.analysis-card h2 {
  font-size: 26px;
}

/* =========================
   Loader / Spinner
========================= */
.spinner {
  width: 124px;
  height: 124px;
  margin: 20px auto 29px;
  border-radius: 50%;
  border: 10px solid var(--bg-light);
  border-top-color: var(--primary);
  animation: spin 1s linear infinite;
}

.small-spinner {
   width: 26px;
  height: 26px;
  /* margin: 20px auto 29px; */
  border-radius: 50%;
  border: 2px solid var(--bg-light);
  border-top-color: #b4b4b4;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
