.action-btns {
  margin-top: 64px;
}

.cards {
    border: 1px solid #E0E0E0;
    border-radius: 16px;
    background-color: white;
    width: 100%;
    padding: 36px;
    cursor: pointer;
    transition: border 0.5s ease;
}

.cards:hover {
  border: 1px solid var(--primary)
}

.cards-section{
  margin-top: 48px;
}

.cards-section img {
    width: 50px;
    height: 51px;
    margin-bottom: 24px;
}

.cards-section h2 {
    color: black;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 8px;
}

.cards-section p {
    color: #575757;
    font-size: 16px;
}

.card-wrapper {
    display: flex;
    gap: 20px;
}

.last-cards-section {
    margin-top: 20px;
}
