
/* =========================
   Title & Subtitle
========================= */
.card h2 {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 6px;
}

.subtitle {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: var(--text-accent);
}

/* =========================
   Progress
========================= */
.progress-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.container {
  margin-top: 58px;
  border: 1px solid #E0E0E0;
  padding: 0;
}

/* .progress-bar {
  flex: 1;
  height: 6px;
  background: var(--border);
  border-radius: 999px;
  overflow: hidden;
} */

.progress {
  width: 60%;
  height: 100%;
  background: var(--green);
}

.progress-container {
  margin: 0;
}

.progress-text {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-muted);
}

/* =========================
   Description
========================= */
.note {
  margin-top: 28px;
  text-align: center;
  font-size: 15px;
  color: var(--text-muted);
  margin-bottom: 20px;
}

/* =========================
   Steps
========================= */
.steps {
  margin-top: 78px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 88px;
}

.step {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 32px 42px;
  border-radius: 16px;
  font-size: 18px;
}

.progress-green{
  width: 60%;
  height: 11px;
  background-color: var(--primary);
  border-radius: 64px;
}

.step.done {
  background: var(--bg-light);
  color: var(--primary);
}

.step.pending {
  background: var(--bg-pending);
  /* color: var(--text-muted); */
}

.icon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid currentColor;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  flex-shrink: 0;
}

.hide {
    display: none;
}

/* =========================
   Helper Text
========================= */
.small-note {
  font-size: 14px;
  color: var(--text-muted);
}

.footer-links {
  max-width: 844px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px 16px;
  font-size: 12px;
  color: var(--text-muted);
  margin-bottom: 25px;
}


.footer {
  max-width: 844px;
  margin: auto;
  margin-bottom: 50px;
}

.footer a {
  color: #739479;
  font-size: 16px;
  text-decoration: none;
}

.footer p {
  text-align: center;
  font-size: 14px;
  color: var(--text-muted)
}

.flex-result {
  margin-top: 44px;
  display: flex;
  margin-bottom: 22px;
  align-items: center;
  justify-content: space-between;
}

/* =========================
   Responsive
========================= */
@media (max-width: 600px) {
  main {
    min-height: calc(100vh - 120px);
  }

  .footer {
    flex-wrap: wrap;
    gap: 12px;
    text-align: center;
  }
}


@media (max-width: 480px) {
  .card {
    padding: 24px;
  }
}
